body,
html {
  height: 100vh;
  background-color: #101820;
  margin: 0px;
  padding: 0px;
}

.main-container {
  height: 100vh;
  width: 100%;
  padding-top: 20px;
}

.container {
  margin: auto auto;
}
.col {
  background-color: #ffff3b;
  border: 1px solid black;
}

.toolbar {
  z-index: 1;
  box-shadow: 1px 1px 15px 2px black;
  background-color: #ffbf00;
  font-family: Russo One;
  max-height: 40px;
  width: 40vw;
  margin-bottom: -1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.editor {
  padding-top: 15px;
  min-height: 80vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.editor-column {
  top: 0;
  position: sticky;
  max-height: 80vh;
  font-family: monospace;
  line-height: 15px;
  padding-top: 20px;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  outline: none;
}

.previewer-column {
  width: 40vw;
  overflow-wrap: break-word;
  height: auto;
  line-height: 20px;
}

.ulist {
  height: 100%;
  width: 100%;
  list-style-type: none;
  margin-left: -30px;
}

.uli {
  color: black;
  margin-left: 10px;
}

pre {
  background-color: white;
  padding: 5px;
  padding-left: 7px;
}
